<div class="column-layout ammunition-layout">
  <div class="column-layout ammunition-header-layout">
    <h4 class="content">
      Ammunition
    </h4>
    <igx-input-group type="search" class="ammunition-search-input">
      <igx-prefix>
        <igx-icon class="icon-i03etr">
          search
        </igx-icon>
      </igx-prefix>
      <input type="search" [(ngModel)]="value" igxInput />
      <igx-hint>Search yer cannons, Yarr!</igx-hint>
    </igx-input-group>
  </div>
  <div class="row-layout group">
    @for (item of shipAmmunitionDataShipAmmunition; track item) {
      <igx-card class="ammunition-card">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
            {{ item.type }}
          </h3>
          <h5 igxCardHeaderSubtitle>
            {{ item.quantity }}
          </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="column-layout ammunition-card-content">
            <p class="ig-typography__body-2 content">
              {{ item.status }}
            </p>
          </div>
        </igx-card-content>
        <igx-card-actions class="actions-content">
          <ng-container igxStart>
            <button igxButton="contained" type="button" igxRipple class="resupply-button">
              <igx-icon>
                add_circle
              </igx-icon>
              <span>Resupply</span>
            </button>
          </ng-container>
        </igx-card-actions>
      </igx-card>
    }
  </div>
</div>
